.socials {
  display: flex;
  margin: 16px auto 0px;
  width: 206px;
  justify-content: space-between;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
  background-color: var(--accent-color);
}
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--client-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .socials__item:hover & {
  fill: var(--white-color);
}
}


.socials__link {
  display: block;
  margin-top: 9px;
}



.socials__item--dark { background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}