:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --white-color: #ffffff;
  --address-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --client-color: #afb1b8;
}