.page-header__menu-wrp {display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 796px;
  background-color: #fff;
  z-index: 2;
  padding:48px 40px;

&.is-open{display:block;}
@media screen and (min-width:$tablet){position: static;
  display:flex;

z-index: 0;
}}

.page-header__menu-button {
  background-color: var(--white-color);
border:none;
position:absolute;
right:15px;
top:50%;
 z-index: 2;
transform: translateY(-50%);
&:hover {fill:var(--accent-color);}
@media screen and (min-width:$tablet){display:none;}

}

.page-header__icon-menu-close {display: none; 
  .page-header__menu-button.is-open & {display: block;
     &:hover {fill:var(--accent-color);}
  }
}

.page-header__icon-menu {display: block;
  &:hover {fill:var(--accent-color);}
 .page-header__menu-button.is-open & {display: none;
  }}
 