/*-----------------------------Оформление блока команды-------------------*/

.team {
  background-color: var(--secondary-background-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  
}